@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll{
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll-horizontal 20s linear infinite ;
    will-change: transform;
}

.animate-scroll:hover{
    animation-play-state: paused;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.filter.blur-sm {
  filter: blur(3px);
}
